<app-navigation></app-navigation>
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="row card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Votre profil</h3>&nbsp; &nbsp;
                    <mat-spinner [diameter]="30" *ngIf="!showData"></mat-spinner>
                </div>
                <div class="card-body" *ngIf="showData">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <h4 class="m-0 font-weight-bold">Qr code</h4><hr/>
                            <ngx-qrcode class="center" [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value" cssClass="bshadow"></ngx-qrcode>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <form [formGroup]="formUpdateUser" class="user" (ngSubmit)="onSubmit()">
                                <h4 class="m-0 font-weight-bold">Information de l'utilisateur</h4>
                                <hr/>
                                <div class="row">
                                    <h5 class="col-xl-3 col-lg-4 textCenterInput font-weight-bold">Nom:</h5>
                                    <input type="text" formControlName="name" class="form-control col-xl-7 col-lg-12" placeholder="{{this.userInfo.name}}">
                                </div>
                                <div class="row">
                                    <h5 class="col-xl-3 col-lg-4 textCenterInput font-weight-bold">Email:</h5>
                                    <input type="email" formControlName="email" class="form-control col-xl-7 col-lg-12" placeholder="{{this.userInfo.email}}">
                                </div>
                                <div class="row">
                                    <h5 class="col-xl-3 col-lg-4 textCenterInput font-weight-bold">Mot de passe:</h5>
                                    <input type="text" formControlName="password" class="form-control col-xl-7 col-lg-12" placeholder="Entrer un nouveau mot de passe">
                                </div>
                                <hr/>
                                <h5 class="m-0">Veuillez appliquer les modifications si vous aviez quelque chose à modifier.
                                </h5>
                                <input type="submit" name="updateUser" class="btn btn-success floatRight" value="Modifier">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>