<app-navigation></app-navigation>
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Votre profil</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 center">
                            <img class="saryProfil" src="assets/img/profil/profil.JPG" alt="photo de profil">
                            <ngx-qrcode [elementType]="elementType" [errorCorrectionLevel]="correctionLevel" [value]="value" cssClass="bshadow"></ngx-qrcode>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <h4 class="m-0 font-weight-bold">Information de l'utilisateur</h4>
                            <hr/>
                            <div class="row">
                                <h5 class="col-xl-3 col-lg-4 textCenterInput font-weight-bold">Nom:</h5>
                                <input type="text" class="form-control col-xl-7 col-lg-12" value="RANDRIA George">
                            </div>
                            <div class="row">
                                <h5 class="col-xl-3 col-lg-4 textCenterInput font-weight-bold">Email:</h5>
                                <input type="email" class="form-control col-xl-7 col-lg-12" value="randriaGeorge@gmail.com">
                            </div>
                            <div class="row">
                                <h5 class="col-xl-3 col-lg-4 textCenterInput font-weight-bold">Mot de passe:</h5>
                                <input type="text" class="form-control col-xl-7 col-lg-12" value="bijou24">
                            </div>
                            <hr/>
                            <h5 class="m-0">Veuillez appliquer les modifications si vous aviez quelque chose à modifier.
                            </h5>
                            <button type="button" class="btn btn-success floatRight">Modifier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>