<div class="row">
  <div class="col-12">
    <div class="table-responsive bg-white box-shadow">
      <table class="table table-sm">
        <thead>
        <tr>
          <th>Email joueur</th>
          <th>Jeton</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let demande of demandes">
          <td>{{demande.emailuser}}</td>
          <td>{{demande.jetonsdemande}}</td>
          <td>
              <button class="btn btn-sm" (click)="validation(demande)"><i
                      class="fa fa-check mr-3 text-success"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>