<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <span class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Pari
            <sup>local</sup>
        </div>
    </span>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
        </a>
    </li>

    <hr class="sidebar-divider" *ngIf="isConnect">
    <li class="nav-item" *ngIf="isConnect">
        <a routerLink="/profil/{{this.idUser}}" class="nav-link">
            <i class="fas fa-fw fa-user"></i>
            <span>Profil</span>
        </a>
    </li>

    <hr class="sidebar-divider" *ngIf="isConnect">
    <li class="nav-item" *ngIf="isConnect">
        <a class="nav-link" data-toggle="modal" data-target=".demandeJeton">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Demande de jeton</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/historique">
            <i class="fas fa-fw fa-list"></i>
            <span>Historique de vos paris</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/pari">
            <i class="fas fa-fw fa-list"></i>
            <span>Pari par victoire</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item" *ngIf="isConnect">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-fw fa-sign-out-alt"></i>
            <span>Deconnecter</span>
        </a>
    </li>

    <li class="nav-item" *ngIf="!isConnect">
        <a class="nav-link" href="/login">
            <i class="fas fa-fw fa-sign-in-alt"></i>
            <span>Login</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">close/open</div>
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" onClick="toogledSide()"></button>
    </div>
</ul>
<!-- End of Sidebar -->

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" onClick="toogledSide()">
                <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto" *ngIf="isConnect">
                <li class="nav-item dropdown no-arrow">
                    <span class="nav-link">
                        <span class="text-gray-600 small">
                            <i class="fas fa-balance-scale fa-sm"> &nbsp; Jetons: </i>
                            <b>{{this.jetons}}</b>
                        </span>
                    </span>
                </li>
                <div class="topbar-divider d-none d-sm-block"></div>
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Bienvenue,
                            <b>{{this.name}}</b>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logoutModalLabel">Voulez-vous vraiment vous déconnecter?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Selectionner "Oui" si vous-voulez terminer avec cette session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Non</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal" (click)="deconnecter()">oui</button>
            </div>
        </div>
    </div>
</div>
<!-- DemandeJeton Modal -->
<div class="modal fade demandeJeton" tabindex="-1" role="dialog" aria-labelledby="demandeJetonLabel" aria-hidden="true" #modal>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Faite votre demande</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formDemandeJeton" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Jeton:</label>
                        <input type="number" formControlName="jetonDemande" class="form-control" value="1">
                        <label>{{this.erreur}}</label>
                    </div>
                    <button type="submit" class="btn btn-success floatRight" *ngIf="!demandeCliquer">Valider</button>
                    <button class="btn btn-success floatRight" *ngIf="demandeCliquer">
                        <mat-spinner [diameter]="30"></mat-spinner>
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>