<div class="bg-gradient-primary">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image" *ngIf="afficherRegister==false else register"></div>
                        <ng-template #register>
                            <div class="col-lg-6">
                                <div class="register">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Créer votre compte!</h1>
                                    </div>
                                    <mat-horizontal-stepper class=stepperRegister [linear]="isLinear" #stepper>
                                        <mat-step [stepControl]="firstFormGroup">
                                            <form [formGroup]="firstFormGroup">
                                                <ng-template matStepLabel>Renseignement</ng-template>
                                                <mat-form-field>
                                                    <mat-label>Nom d'utilisateur:</mat-label>
                                                    <input type="text" matInput placeholder="Entrer un nom" formControlName="nom" required>
                                                </mat-form-field>
                                                <br/>
                                                <mat-form-field>
                                                    <mat-label>Email:</mat-label>
                                                    <input type="email" matInput placeholder="Entrer un email" formControlName="email" required>
                                                </mat-form-field>
                                                <br/>
                                                <mat-form-field>
                                                    <mat-label>Mot de passe:</mat-label>
                                                    <input type="password" matInput placeholder="Entrer un mot de passe" formControlName="password" required>
                                                </mat-form-field>
                                                <div>
                                                    <button class="floatRight" mat-button matStepperNext>Suivant</button>
                                                </div>
                                            </form>
                                        </mat-step>
                                        <mat-step [stepControl]="secondFormGroup" label="Demande de jeton">
                                            <form [formGroup]="secondFormGroup">
                                                <mat-form-field>
                                                    <mat-label>Jeton</mat-label>
                                                    <input type="number" matInput formControlName="jeton" min='1' required>
                                                </mat-form-field>
                                                <div>
                                                    <button class="floatLeft" mat-button matStepperPrevious>Précedent</button>
                                                    <button class="floatRight" (click)="setInfo()" mat-button matStepperNext>Suivant</button>
                                                </div>
                                            </form>
                                        </mat-step>
                                        <mat-step>
                                            <ng-template matStepLabel>Validation</ng-template>
                                            <p class="center">Félicitation vous etes à la dernière étape de votre inscription.</p>
                                            <p> Votre nom: {{nom}}</p>
                                            <p> Email: {{email}}</p>
                                            <p> Jeton demandés: {{jeton}}</p>
                                            <div class="text-center padRegister">
                                                <button class="validerRegister btn btn-primary">Valider</button>
                                            </div>
                                            <div>
                                                <button class="floatLeft" mat-button matStepperPrevious>Précedent</button>
                                                <button class="floatRight" mat-button (click)="stepper.reset()">Annuler</button>
                                            </div>
                                        </mat-step>
                                    </mat-horizontal-stepper>
                                    <hr>
                                    <div class="text-center">
                                        <button type="button" (click)="afficherRegister=false" class="btn btn-link">je suis déjà inscrit</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenue sur PariLocal!</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="password" placeholder="Password">
                                    </div>
                                    <a (click)="connexion()" class="btn btn-primary btn-user btn-block">Login</a>
                                    <hr>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <button type="button" (click)="afficherRegister=true" class="btn btn-link">Créer un compte!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>