<app-navigation></app-navigation>
<button type="button" class="btn btn-danger floatRight" (click)="toogle()">Afficher mes paris!</button>
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Parier en détails!</h1>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Parie par victoire</h3>
                </div>
                <div class="card-body">
                    <table class="tableClass center">
                        <tr>
                            <th>Exterieur</th>
                            <th>Nul</th>
                            <th>Interieur</th>
                        </tr>
                        <tr>
                            <td>
                                <!-- visibilityPari id,cote avy any anaty base na webService -->
                                <button type="button" class="btn btn-success" (click)="visibilityPari('1','2.1','parie par victoire')">1</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary" (click)="visibilityPari('2','2.2','parie par victoire')">0</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="visibilityPari('3','2.3','parie par victoire')">2</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Parie par but</h3>
                </div>
                <div class="card-body">
                    <table class="tableClass center">
                        <tr>
                            <th>Nombre de but</th>
                            <th>Cote</th>
                        </tr>
                        <tr>
                            <td>1-0</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="visibilityPari('4','2.1','parie par but')">1</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1-0</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="visibilityPari('5','2.1','parie par but')">1</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1-0</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="visibilityPari('6','2.1','parie par but')">1</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1-0</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="visibilityPari('7','2.1','parie par but')">1</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1-0</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="visibilityPari('8','2.1','parie par but')">1</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1-0</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="visibilityPari('9','2.1','parie par but')">1</button>
                            </td>
                        </tr>
                        <tr>
                            <td>1-0</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="visibilityPari('10','2.1','parie par but')">1</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5 pariBox" *ngIf="toogled">
            <div class="cardContenu shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h3 class="m-0 font-weight-bold text-primary">Placer vos paris</h3>
                    <button mat-icon-button class="floatRight">
                        <mat-icon (click)="toogle()">close</mat-icon>
                    </button>
                </div>
                <div class="placeMatCardParie" *ngFor="let a of data">
                    <mat-card class="cardParier">
                        <mat-card-title>Match Psg/Real {{a.id}}</mat-card-title>
                        <mat-card-content>
                            <p>Type du parie: {{a.type}}</p>
                            <p>Cote: {{a.cote}}</p>
                            <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit(a.id)">
                                <label>Jetons à parier:</label>
                                <div class="row">
                                    <input type="number" formControlName="jeton{{a.id}}" class=" col-8 form-control" min="1">
                                    <button class="col-4 btn btn-primary small" type="submit">Changer</button>
                                    <br/>
                                </div>
                                <label>Gain:</label>
                                <div class="row">
                                    <input type="number" formControlName="gain{{a.id}}" class="form-control" [attr.disabled]="true">
                                </div>
                            </form>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-icon-button>
                                <mat-icon (click)="visibilityPari(a.id,'0','fermer')">close</mat-icon>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div class="footCardParier">
                <button type="button" class="btn btn-danger btn-placer floatRight" (click)="placerParie()">Placer mes paris!</button>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->