<app-navigation></app-navigation>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Historique</h1>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Listes de vos paris</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Categorie</th>
                                    <th>Nom</th>
                                    <th>Cote</th>
                                    <th>Jeton</th>
                                    <th>Gain</th>
                                    <th>Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Foot</td>
                                    <td>Psg/Real</td>
                                    <td class="center">2.5</td>
                                    <td class="center">5</td>
                                    <td class="center">12.5</td>
                                    <td>victoire</td>
                                </tr>
                                <tr>
                                        <td>basket</td>
                                        <td>Aber/ir</td>
                                        <td class="center">2.5</td>
                                        <td class="center">5</td>
                                        <td class="center">12.5</td>
                                        <td>defaite</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
