<app-navigation></app-navigation>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Faites vos paris</h1>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-7">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Les paris disponibles</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Categorie</th>
                                    <th>Nom</th>
                                    <th>Exterieur</th>
                                    <th>Nul</th>
                                    <th>Interieur</th>
                                    <th>Détail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Foot</td>
                                    <td>Psg/Real</td>
                                    <td class="center">1</td>
                                    <td class="center">1.5</td>
                                    <td class="center">2</td>
                                    <td class="center">
                                        <button type="button" class="btn btn-secondary" (click)="detailPari()">Voir</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h3 class="m-0 font-weight-bold text-primary">Vos paris en cours</h3>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <p>card body</p>
                </div>
            </div>
        </div>
    </div>
</div>